title = models.CharField(max_length=50, validators=[MaxLengthValidator(
limit_value=50,
message="Название слишком большое"
)])
star_rating = models.IntegerField(default=0, blank=True, null=True)
breakfast_included = models.BooleanField(default=False)
photo = models.ImageField(blank=True, null=True, upload_to='images/', validators=[MinLengthValidator(
limit_value=1,
message="Для создания отеля,требуется хотябы 1 фото"
)])
room_description = models.TextField(validators=[MaxLengthValidator(
limit_value=100,
message="Описание слишком большое,максимально количество слов 100"
), MinValueValidator(
limit_value=20,
message="Минимальное количество слов описания, 20"
)])
price_for_room = models.IntegerField(default=0, blank=True, null=True, validators=[MaxLengthValidator(
limit_value=10,
message="Извините но это слишком большая сумма"
)])
address = models.TextField()
user = models.ForeignKey(User, on_delete=models.CASCADE)